--extra-index-url https://google-coral.github.io/py-repo/
click==8.0.1
colorama==0.4.4
Flask==2.0.1
imageio==2.9.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.0
Pillow==7.2.0
tflite-runtime==2.5.0
Werkzeug==2.0.1
