<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="C:\Python38\python.exe|C:\Python38\Lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\APIInteriorDesign-Back-Flask" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\APIInteriorDesign-Back-Flask\app.log" />
  </appSettings>
</configuration>  